.Grid:hover{
transform: scale(1.2);
user-select: none;
}
.taka{
    font-family: 'Source Code Pro', monospace !important;
    color: #E7EFFF;
    user-select: none;
}
.icons{
    padding: 5vw;
}
.Grid{
    color: #E7EFFF;
}

 @media(max-width: 768px){
   .text{
         font-size: 1rem;
   }
}